
{% extends '::base.html.twig' %} 
{% block stylesheets %} 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block javascripts %} 
   <script language = "javascript" 
      src = "https://code.jquery.com/jquery-2.2.4.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script src="{{ asset('bundles/assets/js/formAjax.js') }}" language = "javascript"></script> 
{% endblock %}

{% block body %} 
<div class="container" id="result">
  
	<div class="error" id="name">
		
	</div>

	<form class="form-inline" action="">
	<input type="hidden" id="csrf_token" name="csrfToken" value="{{ csrf_token('_csrf_security_token') }}">
		<div class="form-group">
			<label for="verb">Verb:</label>
			<select name="verb" id="verb" class="verb">
				<option value="GET">GET</option>
				<option value="POST">POST</option>
			</select>
		</div>
		<div class="form-group">
			<label for="pwd">Content:</label>
			<textarea  id="content" class="content" name="content" required></textarea>
		</div>
		<div class="form-group">
			<label for="url">url:</label>
			<input type="text" id="url" class="url" name="url">
		</div>
		<button type="button" class="btn btn-default">Submit</button>
	</form>
<p>
	Please enter the content in the below json format
</p>
	Request Type::
        </td>
        <td>Json with filter values</td>
   
</div>
{% endblock %} 