
{% extends '::base.html.twig' %} 
{% block stylesheets %} 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}
{% block javascripts %} 
   <script language = "javascript" 
      src = "https://code.jquery.com/jquery-2.2.4.min.js"></script> 
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <script language = "javascript">  
      	$(document).ready(function(){
        	$("button").click(function(){
	         	var formData = $('#content').val()
	         	var Verb = $('#verb option:selected').val()
	         	var url = $('#url').val()
	         	
				if (formData.length == 0) {
				 	$(".error").html("<p>Content field is Empty. Please provide some filtered data</p>");
				}

		        var checkformData = isJSON(formData)

		        if(!checkformData){
			        if (formData == 0) {
					 	$(".error").html("<p>Content field is Empty. Please provide some filtered data</p>");
					} else{
		         		$(".error").html("<p>Please provide some enter valid json format. Check the Request Type from below:</p>");
		         	}
		        } else {
		        	$.ajax({  
		                url:        url,  
		               	type:       'GET',  
		               	data: 		{data: formData},
		               	dataType:   'json',  
		               	async:      true,
		               	success: function(data) {  
		                   $("#result").html(JSON.stringify(data));
		               	},  
		               	error : function(xhr, textStatus, errorThrown) {  
		                	console.log(textStatus);
		               	}  
		            }); 
		        }
	 
	        });  
     	});  

	    function isJSON(str) {

		    if( typeof( str ) !== 'string' ) { 
		        return false;
		    }
		    try {
		        if (JSON.parse(str)) return true;
		    } catch (e) {
		        return false;
		    }
		}
   </script> 
{% endblock %}

{% block body %} 
<div class="container" id="result">
  
	<form class="form-inline" action="">
		<div class="form-group">
			<label for="verb">Verb:</label>
			<select name="verb" id="verb" class="verb">
				<option value="GET">GET</option>
				<option value="POST">POST</option>
			</select>
		</div>
		<div class="form-group">
			<label for="pwd">Content:</label>
			<textarea  id="content" class="content" name="content" required></textarea>
		</div>
		<div class="form-group">
			<label for="url">url:</label>
			<input type="text" id="url" class="url" name="url">
		</div>
		<button type="button" class="btn btn-default">Submit</button>
	</form>
<p>
	Please enter the content in the below json format
</p>
	Request Type::
        {"year":"2018","productType":"Cooking Gear","productLine":"Camping Equipment","retailerType":"Outdoors Shop","product":"Camping Equipment","retailerCountry":"United States","quater":"Q1 2012","orderType":"Fax"}</td>
        <td>Json with filter values</td>
   
</div>
{% endblock %} 